.card-wrapper {
    width: 15rem;
    height: 26rem;
    background: white;
    padding: 0.2em;
    padding-bottom: 1em;
    border-radius: 6px;
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.2);


}

.card-image {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    margin-bottom: 0.8em;
}

.card-image:hover {
    transform: scale(0.98);
}

.card-image img {
    width: 10rem;
    border-radius: 6px 6px 0 0;
}

.image-custom {}

.content-card {
    display: flex;
    flex-direction: column;
    padding-left: 0.5em;
}

.title-card {
    margin: 1px 0;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    padding: 2px;
}

.descrip-card {
    margin: 1px 0;
    font-size: 14px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    color: #FF6347;
    padding: 2px;

}

.price-card {
    display: block;
    margin: 0.5em 0;
    font-size: 16px;
    font-family: "Montserrat", serif;
    font-weight: 900;
    color: #FF6347;
    text-align: left;
    padding: 2px;
}

.btt-buy-card {
    display: flex;
    margin: 0.1em 0;
    padding: 0.2em;
}

.btt-buy-card button {
    background-color: #98FF98;


    color: #111827;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25rem;
    padding: 0.75rem 1rem;
    text-align: center;
    border: 1px solid #e9e7e7;
    border-radius: 16px;
    box-shadow: 5px 5px 8px #acc7ac,
        0px 0px 0px #ffffff1f;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.btt-buy-card button:hover {
    background-color: #BAFFBA;
}

.btt-buy-card button:focus {
    outline: 2px solid rgba(0, 0, 0, 0.1);
    outline-offset: 2px;
}

.btt-buy-card button:focus-visible {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.icon-custom {
    display: none;

}

@media (max-width: 1440px) {
    .card-wrapper {
        width: 12rem;
        height: 22rem;
    }

    .card-image img {
        width: 7.5rem;
    }

    .title-card {
        margin: 1px 0;
        font-size: 14px;
        padding: 1.5px;
    }

    .descrip-card {
        margin: 1px 0;
        font-size: 14px;
        padding: 1px;
    }

    .price-card {
        font-size: 16px;
        padding: 1px;
    }

    .btt-buy-card button {
        line-height: 1rem;
        padding: 0.60rem 1.1rem;
    }
}

@media (max-width: 1024px) {
    .card-wrapper {
        width: 10rem;
        height: 18rem;
    }

    .card-image img {
        width: 5.5rem;
    }

    .title-card {
        margin: 0.5px 0;
        font-size: 12.6px;
        padding: 1px;
    }

    .descrip-card {
        margin: 1px 0;
        font-size: 12px;
        padding: 1px;
    }

    .price-card {
        font-size: 13.3px;
        padding: 1px;
    }

    .btt-buy-card button {
        line-height: 0.8rem;
        padding: 0.55rem 1rem;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .card-wrapper {
        display: flex;
        width: 100%;
        height: auto;
        max-height: 7.6rem;
        border-radius: 0.6rem;
    }

    .card-image img {
        width: 6rem;
        object-fit: cover;
        object-position: center;
        border-radius: 0.6rem;
    }

    .content-card {
        display: flex;
        flex-direction: column;
    }

    .title-card {
        margin: 0.8em 0;
        font-size: 16px;
        padding: 0 4px;
    }

    .descrip-card {
        margin: 0.2 0;
        font-size: 12px;
        padding: 0 4px;
    }

    .bbt-custom {
        display: none;
    }

    .btt-buy-card {
        display: flex;
        justify-content: end;
        margin: 0 0.2em;
        padding: 0.2em;
    }

    .icon-custom {
        display: flex;
    }

    .icon-custom img {
        width: 1.2rem;
    }
}

@media (max-width: 530px) {


    .title-card {
        margin: 0.2em 0;
        font-size: 14px;
        padding: 0 1px;
    }

    .descrip-card {
        margin: 0.2 0;
        font-size: 12px;
        padding: 0 1px;
    }

    .bbt-custom {
        display: none;
    }

    .btt-buy-card {
        display: flex;
        justify-content: end;
        margin: 0 0.1em;
        padding: 0.1em;
    }
}