.fontSmall {
    font-size: 14px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.fontTitle {
    font-size: 30px;
    color: #333;
    font-family: "Londrina Solid", serif;
    font-weight: 400;
    font-style: normal;
}

.fontMedium {
    font-size: 18px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.shadow-btt{
    border: 1px solid #e9e7e7;
    border-radius: 16px;
    box-shadow: 5px 5px 8px #acc7ac,
        0px 0px 0px #ffffff1f;
}
.shadow-btt:hover {
    background-color: #98FF98;
}

/* ----- FONT TITULO EJ -----

.londrina-solid-thin {
    font-family: "Londrina Solid", serif;
    font-weight: 100;
    font-style: normal;
}

.londrina-solid-light {
    font-family: "Londrina Solid", serif;
    font-weight: 300;
    font-style: normal;
}

.londrina-solid-regular {
    font-family: "Londrina Solid", serif;
    font-weight: 400;
    font-style: normal;
}

.londrina-solid-black {
    font-family: "Londrina Solid", serif;
    font-weight: 900;
    font-style: normal;
}
    */