.container {
    max-width: 100vw;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.navbar {
    height: 60px;
    background-color: #FF6347;
    position: relative;
    border-radius: 2em;
}


.open-menu-hamb {
    display: none;
    font-size: 24px;
    background: none;
    border: none ;
    color: #ffffff;
    cursor: pointer;
    box-shadow: none;
    border-radius: none;
}
.open-menu-hamb:hover {
    font-size: 28px;
    background: none;
    border: none ;
    cursor: pointer;
    box-shadow: none;
    border-radius: none;
}

.nav-elements {
    display: flex;
    padding: 1em;
    transition: transform 0.3s ease-in-out;
}

.nav-elements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    flex-direction: row;
}

.nav-elements ul li:not(:last-child) {
    margin-right: 60px;
}

.nav-elements ul a {
    font-size: 1em;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}

.nav-elements ul a.active {
    color: #574c4c;
    font-weight: 500;
    position: relative;
}

.nav-elements ul a.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #574c4c;
}

/* Estilo para el link con el ícono */
.cart-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.cart-link:hover {
    color: #000000;
    transition: 500ms;
}

.cart-icon {
    padding: 0.3em;
}

.close-menu-hamb {
    display: none; 
}

/* Ajustes para móviles */
@media (max-width: 768px) {
    .open-menu-hamb {
        display: block;
    }

    .nav-elements {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #FF6347;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        z-index: 9999;
    }

    .nav-elements.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }



    .nav-elements ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .nav-elements ul li {
        margin: 0.2em 0;
    }

    .nav-elements ul li a {
        color: white;
        font-size: 1.1rem;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .nav-elements ul li a:hover {
        color: #FFD700;
    }

    .close-menu-hamb {
        display: block;
        position: absolute;
        top: 2rem;
        left: 12rem;
        font-size: 4em;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        z-index: 10000;
        background: none;
        border: none ;
        cursor: pointer;
        box-shadow: none;
        border-radius: none;
    }
    .close-menu-hamb:hover{
        font-size: 4.5em;
        background: none;
        border: none ;
        cursor: pointer;
        box-shadow: none;
        border-radius: none;
    }
}


/* ESTILOS DEL LOGO  */
.logo-title {
    display: flex;
    margin-top: 2em;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
    margin-right: 15px;
    border-radius: 3em;
}

.title {
    font-size: 30px;
    color: #333;
    font-family: "Londrina Solid", serif;
    font-weight: 400;
    font-style: normal;
}

/* ESTILOS DEL SEGUNDO MENU */
.menu-container {
    position: relative;
    margin-top: 1em;
}

.menu-container::before,
.menu-container::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 85%;
    background-color: #FF6347;
    left: 50%;
    transform: translateX(-50%);
}

.menu-container::before {
    top: 0;
}

.menu-container::after {
    bottom: 0;
    width: 55%;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    padding: 1em;

}

.menu-item {
    margin: 0 15px;
    position: relative;
}

.menu-item, .menu-item a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.menu-item:hover .submenu {
    display: block;
}
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    list-style: none;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.submenu li {
    padding: 5px 15px;
}

.submenu li a {
    text-decoration: none;
    color: #333;
}


/* Estilos para móviles */
@media (max-width: 768px) {

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-item {
        margin-bottom: 1em;
    }

    .submenu {
        display: none;
        position: static;
        width: 100%;
        background-color: #FFCBC2;
        box-shadow: none;
        padding: 10px 0;
    }

    .menu-item:hover .submenu,
    .menu-item:focus-within .submenu {
        display: block;
    }

    .submenu li {
        padding: 5px 15px;
        text-align: center;
    }

    .submenu li a {
        font-size: 0.8rem;
    }
}